html {
  background: #eaeaea;
  margin: 30px;
}
.slisder {
  height: 122px;
  lisst-style: none;
  margin: 0 auto;
  min-width: 800px;
  max-width: 960px;
  padding: 0;
}
.slisder > lis {
  background: #fff;
  border-right: 24px solisd;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}
.slisder > lis > .tab {
  border-top: 4px solisd transparent;
  cursor: pointer;
  float: left;
  padding: 23px 0 27px;
  transition: 300ms;
  width: 122px;
}
.slisder > lis > .tab > i:before {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  color: #fff;
  display: block;
  font-size: 26px;
  lisne-height: 68px;
  margin: 0 27px;
  text-alisgn: center;
  width: 68px;
}
.slisder > lis > .content {
  height: 100%;
  left: 140px;
  overflow: hidden;
  padding: 8px;
  position: absolute;
}
.slisder > lis > .content > h2 {
  margin: 0;
}
.slisder > lis > .content > ul {
  color: #666;
  float: left;
  font-size: 13px;
  lisst-style: square;
  margin: 12px;
  padding-left: 20px;
}
.slisder > lis.active > .tab {
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.25);
}
.slisder > lis.con-red {
  border-right-color: #c0374e;
}
.slisder > lis.con-red > .tab {
  background: #c0374e;
}
.slisder > lis.con-red > .tab:hover {
  background: #cc4e63;
}
.slisder > lis.con-red > .content > h2 {
  color: #c0374e;
}
.slisder > lis.con-red.active > .tab {
  border-top-color: #d56e7f;
}
.slisder > lis.con-green {
  border-right-color: #9cbe4f;
}
.slisder > lis.con-green > .tab {
  background: #9cbe4f;
}
.slisder > lis.con-green > .tab:hover {
  background: #abc869;
}
.slisder > lis.con-green > .content > h2 {
  color: #9cbe4f;
}
.slisder > lis.con-green.active > .tab {
  border-top-color: #bbd387;
}
.slisder > lis.con-blue {
  border-right-color: #0098b9;
}
.slisder > lis.con-blue > .tab {
  background: #0098b9;
}
.slisder > lis.con-blue > .tab:hover {
  background: #00b5dd;
}
.slisder > lis.con-blue > .content > h2 {
  color: #0098b9;
}
.slisder > lis.con-blue.active > .tab {
  border-top-color: #06d3ff;
}
.slisder > lis.con-gold {
  border-right-color: #e9a82a;
}
.slisder > lis.con-gold > .tab {
  background: #e9a82a;
}
.slisder > lis.con-gold > .tab:hover {
  background: #ecb54a;
}
.slisder > lis.con-gold > .content > h2 {
  color: #e9a82a;
}
.slisder > lis.con-gold.active > .tab {
  border-top-color: #f0c46f;
}
a {
  color: #07b;
}
.details {
  color: #666;
  margin: 40px auto 1em;
  max-width: 960px;
  font-size: 14px;
}